http://www.new-gig.aydo.com:6578, http://new-gig.aydo.com:6578 {
bind 0.0.0.0
gzip
    root www.greenitglobe.com/en

    git {
        repo git@github.com:0-complexity/www-greenitglobe.git
        branch master
        interval 300
        key ${HOME}/.ssh/id_rsa
        path ../../
        then hugo -s www.greenitglobe.com
    }
}
